DAVID-sim/*
.ipynb_checkpoints*
checkpoints/*
lightning_logs/*
training_scripts/checkpoints/*
training_scripts/lightning_logs/*
training_scripts/best_pedestrian_model.pth*
training_scripts/pedestrian_results/*
training_scripts/pedestrian_resnet50_model.pth*
checkpoint.pth*
pedestrian_cnn.pth*
checkpoint_visualizations2/checkpoints/*
notebooks/checkpoint.pth*
training_scripts/ped_train_32159520.log*
model/__pycache__/*
__pycache__/*
training_scripts/__pycache__/*
dataset/__pycache__/*